<!DOCTYPE html>
<html>

<head>
    <title>Create Room</title>
</head>

<body>

    <h2>Create Room</h2>

    <form action="/Map/create-room" method="POST">
        <label>Room Name</label><br>

        <!-- <input type="email" name="email"> -->

        <input type="text" name="roomName" placeholder="Enter room name" required>
        <br><br>

        <button type="submit">Create Room</button>
    </form>

</body>

</html>